<div class="timeline">
  <h2 class="timeline-title">系列: <%= page.category %></h2>
  <% for(let i = 0, year = -1; i < page.posts.data.length; ++i) { %>
    <% 
      const psg = page.posts.data[i];
      if(psg.date.year() !== year) {
        year = psg.date.year();
    %>
      <h3 class="timeline-subtitle"><%= year %></h3>
    <% } %>
    <div class="timeline-item">
      <time><%- psg.date.format("YYYY-MM-DD") %></time>
      <a target="_self" href="<%- url_for(psg.path) %>"><%= psg.title %></a>
    </div>
  <% } %>
</div>

<% if (page.total > 1){ %>
  <nav class="page-nav" id="archive-pages">
    <% var prev_text = "&laquo; " + __('prev');var next_text = __('next') + " &raquo;"%>
    <%- paginator({
      prev_text: '上一页',
      next_text: '下一页'
    }) %>
  </nav>
<% } %>
